node_modules
.DS_Store
.env
dist
build
coverage
server/reports
client/reports
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.vercel
client/test-results
client/playwright-report
